.button {
    width: fit-content;
    background: #0079BF;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.input {
    height: 35px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.input:focus {
    outline: 2px solid rgba(0, 103, 163, 0.65);
}

.text_area {
    resize: none;
    font-family: Roboto, sans-serif;
    height: fit-content;
}