.footer {
    width: 100%;
    min-height: 55px;
    box-sizing: border-box;
    background: #0067A3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.title_wrapper {
    display: flex;
}

.title {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.title_margin {
    margin-right: 36px;
}

@media screen and (max-width: 338px) {
    .author {
        display: none;
    }
}